<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="dojo_location">Dojo Location</label>
        <select name="dojo_location" id="dojo_location">
            <option value="">San Jose</option>
        </select>
        <br>
        <label for="favorite_language">Favorite Language</label>
        <select name="favorite_language" id="favorite_language">
            <option value="">Python</option>
        </select>
        <br>
        <label for="comment">Comment</label>
        <input type="text" name="comment" id="comment">
        <button>Button</button>
    </form>
    
</body>
</html>